p,h1,h2,h3,h4,h5,h6,ul,ol{
    margin: 0;
    padding: 0;
}
.header{
    background: url('../../../img/Bg1.png') $primary-1 center center no-repeat;
}
.header .row{
    align-items: center;
    padding: 10px 0;
}
.header p{
    @include font($primary-4,$font-thin,20px);
    // color: $primary-4;
    // font-family: "$font-thin";
    // font-size: 20px;
    margin-left:5px;
}
.header p span{
    font-family: "$font-regular";
}
.sprite{
    background: url('../../../img/css_sprites.png');
    display: inline-block;
margin-left: 3px
}
.login{
    width: 41px; height: 25px;
    background-position: -10px -10px;
}
.chat{
    width: 51px; height: 30px;
    background-position: -10px -55px; 
  
}
.header a{
    @include a($base-light,$font-regular);
    // text-decoration: none;
    // color: $base-light;
    // font-family: "$font-regular";
    font-size: 20px;
   // text-transform: uppercase;
    display: flex;
    align-items: center;
}
@media(max-width:1024px){
    .header p{
        font-size: 18px;
    }
    .header a{
        font-size: 18px;
    }
 .chat{
     width: 41px;
     height: 28px;
     background-position: -39px -17px;
     background-size:105%;
 }
 .chat-padding{
     padding: 0;
 }
}
.burger{
    width: 65px;
    height: 5px;
    background-color: $base-light;
    display: block;
    position: relative;
}
.burger::before{
    content: '';
    width: 65px;
    height: 5px;
    background-color: $base-light;
    display: block;
    position: absolute;
    top: -15px;
}
.burger::after{
    content: '';
    width: 65px;
    height: 5px;
    background-color: $base-light;
    display: block;
    position: absolute;
    top: 15px;
}

.menu{
    background-color: $primary-3;
    box-shadow: 0 5px 0.5 grey;
    color: $base-light;
    font-family: "$font-regular";
    font-size: 18px;
}
.menu a{
    @include a($base-light,$font-regular);
   // color: $base-light;
   // text-decoration: none;
   // font-family: "$font-regular";
    font-size: 18px; 
  //  text-transform: uppercase;
}
.menu ul{
    list-style-type: none;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.menu .hov:hover{
   color:$primary-3;
   background-color: $primary-4;
}

.menu .row{
    align-items: center;
}
.menu ul span{
    margin:0 20px 0 20px ;
}
.menu ul span:hover{
    margin:0 20px 0 20px ;
   color:$primary-3;
}
.chat1{
    width: 89px;
    height: 30px;
    margin-top: 8px;
    background-position: 13px  -52px;
    background-size: 105%;

}

@media(max-width:1199px) and (min-width:991px){
    .menu ul{
        padding-right: 0px;
    }
    .menu{
        font-size: 14px;
    }
    .menu a{
        font-size: 14px; 
    }
 }
 .chat-padding{
     padding: 0;
 }
 .chat2{
    font-size: 22px; 
    font-family: "Roboto Regular";
    line-height: 50px;
    padding: 0;
    margin: 10px 0 10px 0;
 }
 .login1{
        font-size: 22px; 
        font-family: "Roboto Regular";
        line-height: 50px;
        padding: 0;
        margin: 10px 0 10px 0;
 }
 .login2
{
    margin-top: 10px;
    width: 89px;
    height: 30px;
    background-position: 5px -9px;
}
.menu p{
    color: #caddea;
    font-family: "Roboto Regular";
    font-size: 16px;
    text-align: right;
}
.menu p span{
    font-family: "Roboto Thin";
}
